<div class="footer">
  <div class="footer-links">
    <a href="mailto:cabinet@vielpeau.com?subject=Une prise de rendez-vous ? Un renseignement ? Le centre Athéna Vision est là afin de vous répondre."><i class="fa fa-envelope"></i></a>
    <a href="tel:+33231439736"><i class="fa fa-phone"></i></a>
  </div>
  <div class="footer-copyright">
    Ce site a été fait avec <i class="fa fa-heart"></i> par Simon !
  </div>
</div>
