<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-envelope"></i></a>
    <a href="#"><i class="fa fa-phone"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Ce site a été fait avec <i class="fa fa-heart"></i> par Simon !
  </div>
</div>
