<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/favicon.png" alt="logo">
  </a>

  <!-- Middle -->
  <div class="navbar-wagon-middle text-center">
      <h1>Docteur Isabelle VIELPEAU</h1>
      <p>Chirurgie réfractive et de la cataracte à Caen</p>
      <p></p>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-right">
    <ul class="list-inline">
      <li>
        <p>6 rue Jane Addams 14280 Saint Contest</p>
      </li>
      <li>
        <p>02 31 43 97 36</p>
      </li>
      <li>
        <p>cabinet@vielpeau.com</p>
      </li>
    </ul>
  </div>
</div>


<div class="navbar-links text-center">

  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Acceuil</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Docteur VIELPEAU</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Chirurgie</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Photos du centre</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Adresse cabinet</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Prendre rendez-vous</a>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>


</div>
