<div class="banner" style="background-image: linear-gradient(to bottom, rgba(240,249,255,0.5) 0%,rgba(203,235,255,0.5) 47%,rgba(161,219,255,0.5) 100%), url('<%= image_path("home-banner.png") %>');">
  <div class="banner-content">
    <h1><strong>Centre Athéna Vision</strong></h1>
    <div class='banner-info'>
      <div class="banner-info-content">
        <p><%= data.cabinet.adresse %></p>
        <p><%= data.cabinet.codepostal %></p>
        <p><%= data.cabinet.numero %></p>
      </div>
    </div>
    <a class="btn btn-primary hidden-xs btn-lg" href="#presentation-home">Le Docteur Isabelle VIELPEAU <br> <i class="fa fa-arrow-down"></i> </a>
    <a class="bn btn-primary visible-xs btn-sm" href="#presentation-home">Le Docteur Isabelle VIELPEAU <br> <i class="fa fa-arrow-down"></i> </a>
  </div>
</div>

