<div class="wrapper-cabinet-home">
  <div class="container text-center cabinet chirurgie-page">
    <h2 class="padded-home">CENTRE ATHENA VISION</h2>
    <p>
      <%= data.docteur.centre %>
    </p>
  </div>
</div>


