<div class="container text-center cabinet">
  <h2>Centre Athéna Vision</h2>
  <p>
    Le <strong>centre ophtalmo Caen</strong> basé à Fleury Sur Orne proche de Caen est un établissement consacré à la <strong>chirurgie réfractive</strong> et équipée de laser de dernière génération.
    <br>
    <br>
    Ce plateau technique utilisant une technologie 100% laser permet au <strong>Docteur Naguszewski</strong> de choisir les modalités de traitement les mieux adaptées et personnalisées à chacun de leurs patients.
    <br>
    <br>
    Dans un cadre agréable, vous serez accueilli par nos secrétaires qui s’assureront de votre confort.
    Le <strong>Docteur Naguszewski</strong> et son orthoptiste réaliseront les examens pré-opératoires.
    <br>
    <br>
    Le jour de l'opération une infirmière de bloc opératoire vous préparera en toute sécurité à votre intervention, avant votre entrée en salle de bloc.
    <br>
    <br>
    Que vous soyez <strong>myope, astigmate, hypermétrope ou presbyte</strong>, vous pouvez imaginer une nouvelle vie libérée de vos lunettes et de vos lentilles.
  </p>
</div>


