<div class="container text-center cabinet">
  <h2>Centre Athéna Vision</h2>
  <p>
    Le Centre Athena Vision est situé sur le Parc Athena à Saint Contest proche de la nouvelle chambre de commerce de Caen.
    <br>
    <br>
    Le Centre Athena vision possède un plateau technique très pointu de dernière génération, à la pointe de la technologie et utilise une technologie 100% laser dans un bloc de chirurgie aux dernières normes.
  </p>
</div>


