<div class="container text-center isa-page">
  <h2>Présentation du Docteur VIELPEAU</h2>
  <div class="isa-page-content">
    <p>
      Le <strong>Docteur Isabelle Vielpeau</strong> est <strong>chirurgien ophtalmologiste</strong>.
      <br><br>
      Son cabinet est situé 6 rue Jane Addams  à St Contest (proche nouvelle chambre du commerce de Caen).
      <br><br>
      Ancien interne des Hôpitaux de Caen et des XVXX à Paris, le Docteur Vielpeau a passé 7 ans à la fondation Rothschild : Institut de la Myopie afin de s’hyper spécialiser en chirurgie Refractive  : Chirurgie de la myopie, de l’hypermétropie et de l’astigmatisme.
      <br><br>
      Le <strong>Docteur Vielpeau</strong> possède le diplôme universitaire de chirurgie de la cataracte et de chirurgie Refractive.
      <%= link_to "En savoir plus sur le Docteur Isabelle VIELPEAU", "docteur-vielpeau" %>
    </p>
    <%= image_tag "isa.jpg" %>

  </div>
</div>
