<div class="container text-center isa-page">
  <h2>Présentation du Docteur VIELPEAU</h2>
  <div class="isa-page-content">
    <p>
      Le Docteur Dominique Naguszewski est un ophtalmologue, il exerce à son cabinet d'ophtalmologie au 18 rue Quadrant 14123 Fleury-sur-Orne (Calvados).
      <br><br>
      Dés 1998, il s'est investi dans la chirurgie réfractive et la chirurgie de la cataracte.
      <br><br>
      Titulaire du D.I.U. de chirurgie réfractive et phakoémulsification (1999), il peut se prévaloir d'une grande expérience en ces deux domaines avec plusieurs centaines d'intervention réalisées chaque année.
      <br><br>
      Sa participation régulière aux congrés garantit son intérêt constant pour cette spécialité et la mise en pratique des dernières technologies et recommandations permettant une prise en charge optimale des patients.
      <br>
      <br>
      <%= link_to "En savoir plus sur le Docteur Isabelle VIELPEAU", "docteur-vielpeau" %>
    </p>
    <%= image_tag "isa.jpg" %>

  </div>
</div>
