<div class="container text-center isa-page">
  <h2>Présentation du Docteur VIELPEAU</h2>
  <div class="isa-page-content">
    <p>
      <%= data.docteur.who %>
      <%= link_to "En savoir plus sur le Docteur Isabelle VIELPEAU", "docteur-vielpeau" %>
    </p>
    <%= image_tag "isa.jpg", alt: "Le chirurgien Isabelle VIELPEAU, ophtalmologue à Caen." %>

  </div>
</div>
