.banner {
  overflow: hidden;
  color: white;
  text-align: center;
  height: 530px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  i{
    margin-top: 9px;
    font-size: 30px;
  }
  a{
    margin-bottom: 30px;
  }
  p{
    margin: 0;
    margin: 5px 0;
  }
}
.banner h1 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  color: white;
  strong{
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 5px;
  }
}
.banner-content{
  width: 600px;
  margin: 0px 15px;
}
.banner .banner-info {
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  margin-bottom: 30px !important;
  .banner-info-content{
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 5px;
  }
}

@media(max-width:767px){

  .banner{
    border: 5px solid $dark-gray;
    color: rgba(0,0,0,0.7);
    p{
      margin: 0px 30px;
      font-size: 15px;
    }
    h1{
      font-size: 20px;
      padding-top: 30px;
    }
  }

}
