.dropbtn-isa {

    color: $dark-gray;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    i{
      color: $dark-gray;
    }
}

.dropbtn-isa:hover, .dropbtn-isa:focus {
  color: $orange;
  transition: 0.2s;
}

.dropdown-isa {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content-isa {
    display: none;
    position: absolute;
    background-color: rgba(96,100,112,0.9);
    font-weight: bolder;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    border-radius: 2.5px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    :first-child{
      border-top: $orange solid 1.5px;
    }
}

.dropdown-content-isa a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: $orange solid 1.5px;
}

.dropdown-isa a:hover {color: orange;}

.show-isa {display: block;}
