// Container
.contact-page{

  // Titre
  h2{
    // Requis
    font-size: 22px;
    font-weight: bolder;
    color: white;

    // Margin
    margin: 0;
    padding: 10px 0px;
  }

  iframe{
    width: 100%;
  }

}

.wrapper-map{
  background-color: $light-black;
}
.contact-page-wrapper-contact{
  border-bottom: 2px solid $orange;
}

.wrapper-contact-page{
  background-color: $light-black;
  border-bottom: 2px solid $orange;
  padding: 30px;
  h2{
    // Requis
    font-size: 22px;
    font-weight: bolder;

    // Margin
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  i{
    font-size: 30px;
    margin-bottom: 10px;
    color: $orange;
  }

  p{
    color: black;
  }
  .horaire-part{
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    max-width: 1000px;
  }
}

.wrapper-horaire-page{
  background-color: $gray;
  border-bottom: 2px solid $orange;
  padding: 30px;
  h2{
    // Requis
    font-size: 22px;
    font-weight: bolder;

    // Margin
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  i{
    font-size: 30px;
    margin-bottom: 10px;
    color: $orange;
  }

  p{
    color: black;
  }
  .horaire-part{
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    max-width: 1000px;
  }
}
.wrapper-photos-cabinet{
  padding: 30px 0px;
}

.dark-gray-bg{
  background-color: $light-black
}
