.isa-container{
  background-color: $light-black;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);

  max-width: 800px;

  h2{
    font-size: 20px;
    color: white;
    margin: 0;
    margin: 15px 0px;
    font-weight: bold;
  }

  p{
    color: white;
    text-align: justify;
    font-weight: lighter;
    padding: 0px 20px 20px 20px;
  }

  li{
    color: white;
    font-weight: lighter;
  }

  img{
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    border: 3px solid $orange;
    margin-bottom: 10px;
  }
  margin-bottom: 20px;
  margin-top: 20px;
}

.wrapper-docteur{

  @media(min-width:1200px){
    padding: 10px 0px;
    background-image: url(../images/cabinet-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;


  }
}
