#home {
  background-color: #D23333;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.chirurgie-container{
  margin: 0px auto;
}

.title-type-chirurgie{
  font-weight: bold !important;
}

.list-good-left{
  text-align: left;
  color: $dark-gray;
}

.padded-home{
  padding-bottom: 20px;
}
strong .orange{
  color: $orange;
}

.open-photos{
  padding-bottom: 30px;
  a{
    font-size: 24px;
    background-color: $orange;
    padding: 15px 10px;
    padding-bottom: 10px;
    font-weight: bold;
    display: inline-block;
    color: white;
    margin: 0;
    border-radius: 3px;
    &:hover{
      text-decoration: none;
      opacity: 0.92;
    }
  }
  h2{
    margin-bottom: 5px;
  }
}
