// Define variables for your color scheme

// My colors:
$orange: #FF570C;
$light-gray: #F7F7F7;
$dark-gray: #606470;
$light-black: #606470;


// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$green: #32B796;
