---
title: Athéna Vision - Dr VIELPEAU | Trouver le centre Athéna Visino
---

<div class="wrapper-map text-center contact-page">
  <h2>Contacter et localiser le docteur VIELPEAU</h2>

  <!-- Map -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2606.7407570983883!2d-0.3941992840401117!3d49.2054772793231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480a5cd597a2e503%3A0x44cda1d2183ac6ba!2s6+Rue+Jane+Addams%2C+14280+Saint-Contest!5e0!3m2!1sfr!2sfr!4v1524561664981" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>

<div class="wrapper-contact contact-page-wrapper-contact">
  <div class="container text-center contact-part" id="presentation-home">
    <div class="contact-content">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="rubrique appelle">
            <i class="fa fa-phone"></i>
            <h3>Appelez-nous</h3>
            <p>Nos secrétaires vous écouteront au 02 02 02 02 02</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="rubrique adresse">
            <i class="fa fa-location-arrow"></i>
            <h3>Trouvez-nous</h3>
            <p>Le cabinet se situe au 6 rue Jane Addams à St-Contest</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="rubrique rdvmail">
            <i class="fa fa-envelope"></i>
              <h3>Ecrivez-nous</h3>
              <p>Notre adresse email est la suivante : cabinet@vielpeau.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-contact-page">
  <div class="container text-center horaire-part">
    <h2>Horaires du cabinet</h2>
    <i class="fa fa-clock"></i>
    <p>
      <strong>Lundi, Mardi</strong> : 18h
    </p>
    <p>
      <strong>Lundi, Mardi</strong> : 18h
    </p>
    <p>
      <strong>Lundi, Mardi</strong> : 18h
    </p>
    <p>
      <strong>Lundi, Mardi</strong> : 18h
    </p>
  </div>
</div>
