---
title: Présentation | Dr VIELPEAU | Chirurgie ophtalmologique Caen
---
<div class="wrapper-docteur">
  <div class="container text-center isa-container">
    <h2>Présentation du docteur VIELPEAUIIIIIIIIII<h2>
    <%= image_tag "isa-avatar.jpg", class: "avatar avatar-normal", alt: "Le chirurgien Isabelle VIELPEAU, ophtalmologue à Caen." %>
    <p>
      <%= data.docteur.who %>
    </p>
  </div>

  <div class="container text-center isa-container">
    <h2>Le Centre Athéna Vision</h2>
    <p>
      <%= data.docteur.centre %>
    </p>
  </div>
</div>

<div class="separateur-orange"></div>
<div class="wrapper-contact">
  <%= data.autre.contact %>
</div>
<div class="separateur-orange"></div>
