---
title: Isabelle VIELPEAU - chirurgie réfractive - Docteur Isabelle VIELPEAU - Caen
---

<div class="container text-center isa-container">
  <h2>Présentation du docteur VIELPEAU</h2>
  <%= image_tag "isa-avatar.jpg", class: "avatar avatar-normal" %>
  <p>
    Le <strong>Docteur Isabelle Vielpeau</strong> est <strong>chirurgien ophtalmologiste</strong>.
    <br><br>
    Son cabinet est situé 6 rue Jane Addams  à St Contest (proche nouvelle chambre du commerce de Caen).
    <br><br>
    Ancien interne des Hôpitaux de Caen et des XVXX à Paris, le Docteur Vielpeau a passé 7 ans à la fondation Rothschild : Institut de la Myopie afin de s’hyper spécialiser en chirurgie Refractive  : Chirurgie de la myopie, de l’hypermétropie et de l’astigmatisme.
    <br><br>
    Le <strong>Docteur Vielpeau</strong> possède le diplôme universitaire de chirurgie de la cataracte et de chirurgie Refractive.
  </p>
</div>

<div class="container text-center isa-container">
  <h2>Son parcours</h2>
  <p>
    Ancien <strong>interne</strong> puis, <strong>chef de clinique</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
  </p>
</div>

<div class="container text-center isa-container">
  <h2>Le centre athéna vision</h2>
  <p>
    Le Centre Athena Vision est situé sur le Parc Athena à Saint Contest proche de la nouvelle chambre de commerce de Caen.
    <br>
    <br>
    Le Centre Athena vision possède un plateau technique très pointu de dernière génération, à la pointe de la technologie et utilise une technologie 100% laser dans un bloc de chirurgie aux dernières normes.
  </p>
</div>
