---
title: Isabelle VIELPEAU - chirurgie réfractive - Docteur Isabelle VIELPEAU - Caen
---

<div class="container text-center isa-container">
  <h2>Présentation du docteur VIELPEAU</h2>
  <%= image_tag "isa-avatar.jpg", class: "avatar avatar-normal" %>
  <p>
    Le Docteur Dominique Naguszewski est un ophtalmologue, il exerce à son cabinet d'ophtalmologie au 18 rue Quadrant 14123 Fleury-sur-Orne (Calvados).
    <br><br>
    Dés 1998, il s'est investi dans la chirurgie réfractive et la chirurgie de la cataracte.
    <br><br>
    Titulaire du D.I.U. de chirurgie réfractive et phakoémulsification (1999), il peut se prévaloir d'une grande expérience en ces deux domaines avec plusieurs centaines d'intervention réalisées chaque année.
    <br><br>
    Sa participation régulière aux congrés garantit son intérêt constant pour cette spécialité et la mise en pratique des dernières technologies et recommandations permettant une prise en charge optimale des patients.
  </p>
</div>

<div class="container text-center isa-container">
  <h2>Son parcours</h2>
  <p>
    Ancien <strong>interne</strong> puis, <strong>chef de clinique</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
  </p>
</div>

<div class="container text-center isa-container">
  <h2>Le centre athéna vision</h2>
  <p>
    Le Docteur Dominique Naguszewski est un ophtalmologue, il exerce à son cabinet d'ophtalmologie au 18 rue Quadrant 14123 Fleury-sur-Orne (Calvados).
    <br><br>
    Dés 1998, il s'est investi dans la chirurgie réfractive et la chirurgie de la cataracte.
    <br><br>
    Titulaire du D.I.U. de chirurgie réfractive et phakoémulsification (1999), il peut se prévaloir d'une grande expérience en ces deux domaines avec plusieurs centaines d'intervention réalisées chaque année.
    <br><br>
    Sa participation régulière aux congrés garantit son intérêt constant pour cette spécialité et la mise en pratique des dernières technologies et recommandations permettant une prise en charge optimale des patients.
  </p>
</div>
