---
title: Isabelle VIELPEAU - chirurgie réfractive - foire aux questions - Caen
---

<div class="container text-center faq-page">
  <h2>Foire aux questions</h2>
  <div class="faq">
    <p class="question">
      <i class="fas fa-comments"></i> Dois-je enlever mes lentilles avant de venir faire les examens pré-opératoire d'une chirurgie réfractive ?
    </p>
    <p class="reponse">
      L'examen <strong>pré-opératoire</strong> doit se faire sur des yeux ayant retrouvés leurs caractéristiques naturelles.
      <br>
      Il vous faudra donc enlever vos <strong>lentilles</strong> souples 4/5 jours avant les examens pré-opératoire, et 10 jours avant pour des lentilles rigides.
    </p>
  </div>
  <div class="faq">
    <p class="question">
      <i class="fas fa-comments"></i> Dois-je enlever mes lentilles avant de venir faire les examens pré-opératoire d'une chirurgie réfractive ?
    </p>
    <p class="reponse">
      L'examen <strong>pré-opératoire</strong> doit se faire sur des yeux ayant retrouvés leurs caractéristiques naturelles.
      <br>
      Il vous faudra donc enlever vos <strong>lentilles</strong> souples 4/5 jours avant les examens pré-opératoire, et 10 jours avant pour des lentilles rigides.
    </p>
  </div>
  <div class="faq">
    <p class="question">
      <i class="fas fa-comments"></i> Dois-je enlever mes lentilles avant de venir faire les examens pré-opératoire d'une chirurgie réfractive ?
    </p>
    <p class="reponse">
      L'examen <strong>pré-opératoire</strong> doit se faire sur des yeux ayant retrouvés leurs caractéristiques naturelles.
      <br>
      Il vous faudra donc enlever vos <strong>lentilles</strong> souples 4/5 jours avant les examens pré-opératoire, et 10 jours avant pour des lentilles rigides.
    </p>
  </div>
  <div class="faq">
    <p class="question">
      <i class="fas fa-comments"></i> Dois-je enlever mes lentilles avant de venir faire les examens pré-opératoire d'une chirurgie réfractive ?
    </p>
    <p class="reponse">
      L'examen <strong>pré-opératoire</strong> doit se faire sur des yeux ayant retrouvés leurs caractéristiques naturelles.
      <br>
      Il vous faudra donc enlever vos <strong>lentilles</strong> souples 4/5 jours avant les examens pré-opératoire, et 10 jours avant pour des lentilles rigides.
    </p>
  </div>
  <div class="faq">
    <p class="question">
      <i class="fas fa-comments"></i> Dois-je enlever mes lentilles avant de venir faire les examens pré-opératoire d'une chirurgie réfractive ?
    </p>
    <p class="reponse">
      L'examen <strong>pré-opératoire</strong> doit se faire sur des yeux ayant retrouvés leurs caractéristiques naturelles.
      <br>
      Il vous faudra donc enlever vos <strong>lentilles</strong> souples 4/5 jours avant les examens pré-opératoire, et 10 jours avant pour des lentilles rigides.
    </p>
  </div>
  <div class="faq">
    <p class="question">
      <i class="fas fa-comments"></i> Dois-je enlever mes lentilles avant de venir faire les examens pré-opératoire d'une chirurgie réfractive ?
    </p>
    <p class="reponse">
      L'examen <strong>pré-opératoire</strong> doit se faire sur des yeux ayant retrouvés leurs caractéristiques naturelles.
      <br>
      Il vous faudra donc enlever vos <strong>lentilles</strong> souples 4/5 jours avant les examens pré-opératoire, et 10 jours avant pour des lentilles rigides.
    </p>
  </div>
  <div class="faq">
    <p class="question">
      <i class="fas fa-comments"></i> Dois-je enlever mes lentilles avant de venir faire les examens pré-opératoire d'une chirurgie réfractive ?
    </p>
    <p class="reponse">
      L'examen <strong>pré-opératoire</strong> doit se faire sur des yeux ayant retrouvés leurs caractéristiques naturelles.
      <br>
      Il vous faudra donc enlever vos <strong>lentilles</strong> souples 4/5 jours avant les examens pré-opératoire, et 10 jours avant pour des lentilles rigides.
    </p>
  </div>
</div>
