---
title: "Chirurgie réfractive Caen - Dr VIELPEAU | Questions/Réponses"
---

<div class="container text-center faq-page">
  <h2>Foire aux questions</h2>
  <% data.faq.each do |qr| %>
    <div class="faq">
      <p class="question">
        <i class="fas fa-comments"></i> <%= qr.question %>
      </p>
      <p class="reponse">
        <%= qr.reponse %>
      </p>
    </div>
  <% end %>
  </div>
</div>
